compile
install-sh
missing

configure~

*.ccdk
*.cckd

kernel/kernel
ipl_loader/ipl_loader
programs/test
programs/bin2rec
*.bin

Makefile*
depcomp*
*.cache*
aclocal.m4
configure
*.in
*.log
config.h
*.status
stamp-h1
*.o
.dirstamp

.deps/
kernel/.deps/
kernel/s390/.deps/
programs/.deps/
tools/.deps/