compile
install-sh
missing

build/

*~

*.ccdk
*.cckd

ipl.txt
tools/bin2rec
*.bin

Makefile.in
Makefile
depcomp*
*.cache*
aclocal.m4
configure
config.h.in*
*.in
*.log
config.h
*.status
stamp-h1
*.o
*.a
*.so
.dirstamp

.deps/
.vscode/