compile
install-sh
missing

configure~

*.ccdk
*.cckd

kernel/kernel
ipl/ipl
programs/test
tools/bin2rec
*.bin
ipl.txt

Makefile.in
Makefile
depcomp*
*.cache*
aclocal.m4
configure
config.h.in*
*.in
*.log
config.h
*.status
stamp-h1
*.o
.dirstamp

.deps/
kernel/.deps/
kernel/s390/.deps/
programs/.deps/
tools/.deps/
