MAINSIZE    16
ARCHMODE    Z/ARCH
CPUSERIAL   000611
CPUMODEL    4381
DIAG8CMD    ENABLE
NUMCPU      2
OSTAILOR    DEFAULT
PANRATE     MEDIUM
PGMPRDOS    RESTRICTED
CODEPAGE    819/1047
00B0        3270
01B9        3390        udos00.cckd
