MAINSIZE 16
ARCHMODE ESA S/390
CPUSERIAL   000611
CPUMODEL    4381
DIAG8CMD    ENABLE ECHO
NUMCPU 2
OSTAILOR    QUIET
PANRATE     MEDIUM
PGMPRDOS    RESTRICTED
CODEPAGE    819/1047
00B0        3270
01B9 3390 udos00.cckd
