ARCHMODE  ESA/390
CPUSERIAL 000611
CPUMODEL  4381
NUMCPU    4
MAINSIZE  32
XPNDSIZE  0
CNSLPORT  3270

PGMPRDOS  RESTRICTED
CODEPAGE  819/1047
SYSEPOCH  1900
DIAG8CMD  ENABLE

PANOPT MSGCOLOR=DARK RATE=250

# .-----------------------------Device number
# |     .-----------------------Device type
# |     |       .---------------File name
# |     |       |
# V     V       V
#---    ----    --------------------------------- terminals on channel 1
0100    3215
#0101    3215
#0102    3215
#0103    3215
#0104    3215
#---    ----    --------------------------------- disks on channel 1
01b9    3390    distro\SYSDSK00.cckd
#---    ----    --------------------------------- tapes on channel 2
0205    3590    distro\tapes\mftopc.het
#---    ----    --------------------------------- telnet devices on channel 1
#0105    2703    lport=3780 rhost=news.eternal-september.org rport=119 dial=no
0105    2703    lport=3780 rhost=localhost rport=3781 dial=no