MAINSIZE    32
ARCHLVL     ESA/390
CPUSERIAL   000611
CPUMODEL    4381
DIAG8CMD    ENABLE
NUMCPU      1
PGMPRDOS    RESTRICTED
CODEPAGE    819/1047

00B0        2703        lport=3780 rhost=news.eternal-september.org rport=119 dial=no
01B9        3390        udos00.cckd
